.catalogue-container {
  padding: 20px;
  background: linear-gradient(90deg, var(--color-red), var(--color-magenta));
  min-height: 100vh;
}

.ag-format-container {
  width: 90%;
  margin: 0 auto;
}

.ag-courses_box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  gap: 20px;
  padding: 50px 0;
}

.ag-courses_item {
  background: white;
  border-radius: 20px;
  overflow: hidden;
  position:relative;
  transition: transform 0.3s ease;
}

.ag-courses_item:hover {
  transform: translateY(-5px);
}

.ag-courses-item_link {
  display: block;
  padding: 30px 20px;
  background-color: white;
  text-decoration: none;
  color: inherit;
  position: relative;
  border-radius: 20px;
}

.ag-courses-item_title {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #000;
  position: relative;
  z-index: 2;
}

.ag-courses-item_date-box {
  font-size: 1rem;
  color: #000;
  position: relative;
  z-index: 2;
}

.ag-courses-item_date {
  font-weight: bold;
  transition: color 0.3s ease;
}

.ag-courses-item_bg {
  height: 120px;
  width: 120px;
  background-color: var(--color-red);
  position: absolute;
  top: -70px;
  right: -70px;
  border-radius: 50%;
  transition: transform 0.5s ease;
  z-index: 1;
}

.ag-courses-item_link:hover .ag-courses-item_bg {
  transform: scale(10);
}

.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
  background-color: var(--color-purple);
}
.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
  background-color: var(--color-magenta-gray);
}
.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
  background-color: var(--color-magenta);
}
.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
  background-color: var(--color-magenta-purple);
}
.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
  background-color: var(--color-purple-light);
}

h2 {
  padding-top: 5%;
  text-align: center;
  font-size: xx-large !important;
  color: white;
  margin-bottom: 20px;
}