.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(135deg, #2f6962, #7bb3b7);
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 30px;
    border-radius: 16px;
    background: white;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    width: 300px;
}

.login-form input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
}

.login-form input:focus {
    outline: none;
    border-color: #6a5acd;
    box-shadow: 0 0 6px rgba(106, 90, 205, 0.5);
}

.login-form button {
    padding: 12px;
    background: linear-gradient(135deg, #1f5952, #4b8387);
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.login-form button:hover {
    transform: scale(1.05);
    background: linear-gradient(135deg, #2f6962, #abb3b7);
}

.logo-image {
    border-radius: 16px;
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}

.back-home .home-button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 12px;
    background: linear-gradient(135deg, #1f5952, #4b8387);
    color: white;
    font: menu;
    font-size: 1.1rem;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
    text-decoration: none;
}

.back-home .home-button:hover {
    transform: scale(1.05);
    background: linear-gradient(135deg,  #2f6962, #abb3b7);
}


.login-container h2 {
    font: menu;
    font-weight: bold;
    font-size:x-large
}

.login-container p {
    font: menu;
    font-weight: bold;
}

