:root {
    --color-primary: #F18585;
    --color-secondary: #F49C9C;
    --color-tertiary: #F6AEAE;
    --color-quaternary: #F8CACF;
    --color-secondary-primary: #EED5FB;
    --color-secondary-secondary: #E4BEF8;
    --color-secondary-tertiary: #D5A8F2;
    --color-secondary-quaternary: #CB90F1;
    --color-tertiary-primary: #C174F2;

    --font-headings: "Montserrat";
    --font-body: "Open Sans";
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-headings) !important;
}

p, span, a, li, button {
    font-family: var(--font-body) !important;
}
